<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Sidebar</title>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto px-0">
            <div id="sidebar" class="collapse collapse-horizontal show border-end">
                <div id="sidebar-nav" class="list-group border-0 rounded-0 text-sm-start min-vh-100">
                    <a href="{{ url_for('index') }}" class="list-group-item border-end-0 d-inline-block text-truncate"
                       data-bs-parent="#sidebar"><i class="bi bi-house"></i> <span>Home</span> </a>
                {% block back_courses %}
                                        <a href="{{ url_for('dashboard.dashboard') }}" class="list-group-item border-end-0 d-inline-block text-truncate"
                       data-bs-parent="#sidebar"><i class="bi bi-arrow-left"></i> <span>Terug</span> </a>
                {% endblock %}
                {% block back %}
                {% endblock %}
                    {% for les in lessen %}
                        <a href="{{ url_for('lessen.lessen', lesnaam = naam, les = les) }}"
                           class="list-group-item border-end-0 d-inline-block text-truncate"
                           data-bs-parent="#sidebar"><i class="bi bi-file-earmark"></i> <span>{{ lessen[les] }}</span> </a>
                    {% endfor %}
                    {% if current_user.is_authenticated %}
                        <p class="copyright list-group-item d-inline-block text-truncate">{{ current_user.username }}
                            <br> {{ current_user.role }}</p>
                    {% endif %}

                </div>
            </div>
        </div>
        <main class="col ps-md-2 pt-2">
            <a href="#" data-bs-target="#sidebar" data-bs-toggle="collapse"
               class="border rounded-3 p-1 text-decoration-none"><i class="bi bi-list bi-lg py-2 p-1"></i> Menu</a>
            <div class="page-header pt-3">
                {% block header %}
                    <h1>Welkom bij de cursus {{ naam }}!</h1>
                {% endblock %}
            </div>
            {% block bheader %}
                <p>Links in het menu kunt u de les die u wilt volgen kiezen!</p>

                <hr>
            {% endblock %}
            <div class="row">
                <div class="col-12">
                    {% block content %}
                        {{ html|safe }}
                    {% endblock %}
                </div>
            </div>
        </main>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
